<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Izveidot jaunu lietotāja kontu</p>
      <button class="delete" aria-label="close" (click)="dismiss()"></button>
    </header>
    <section class="modal-card-body">
      <ng-template [ngIf]="!success" [ngIfElse]="successMsg">
        <div class="notification is-danger" *ngIf="error.length">
          {{error}}
        </div>
        <input class="input" [class]="getCLass('email')" type="email" [(ngModel)]="email" placeholder="E-pasts">
        <input class="input" [class]="getCLass('name')" type="text" [(ngModel)]="name" placeholder="Vards">
        <input class="input" [class]="getCLass('surname')" type="text" [(ngModel)]="surname" placeholder="Uzvards">
        <input class="input" [class]="getCLass('password')" type="password" [(ngModel)]="password" placeholder="Parole">
        <input class="input" [class]="getCLass('password')" type="password" [(ngModel)]="passwordSecond" placeholder="Parole atkārtoti">
      </ng-template>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="signup()" *ngIf="!success">Pierakstīties</button>
      <button class="button" (click)="dismiss()">{{success ? 'Aizvert' : 'Atcelt'}}</button>
    </footer>
  </div>
</div>

<ng-template #successMsg>
  <div class="notification is-success">
    {{success}}
  </div>
</ng-template>
