@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~normalize.css';

html {
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  height: 100vh;
  background-image: url("/assets/images/cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal {
  display: block;
  z-index: 10;
}

.timepicker-overlay {
  z-index: 99999 !important;
}

full-calendar {
  .fc-event {
    &.full {
      .fc-list-event-dot {
        border-color: #ff0000;
      }
    }

    &.approved {
      .fc-list-event-dot {
        border-color: #48c78e;
      }
    }

    &.unapproved {
      .fc-list-event-dot {
        border-color: #ffe08a;
      }
    }
  }

}
