<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Izveidot Treniņu</p>
      <button class="delete" aria-label="close" (click)="dismiss()"></button>
    </header>
    <section class="modal-card-body">
      <div class="notification is-danger" *ngIf="error.length">
        {{error}}
      </div>
      <form class="form" id="training" [formGroup]="trainingForm" (ngSubmit)="onSubmit()">
        <input class="input" type="text" formControlName="name" placeholder="Nosaukums">
        <textarea class="textarea" formControlName="description" placeholder="Apraksts"></textarea>
        <input class="input" type="text" formControlName="duration" placeholder="Ilgums (minutes)">
        <input class="input" type="text" formControlName="max_count" placeholder="Maksimālais dalībnieku skaits">
        <div class="file">
          <label class="file-label">
            <input class="file-input" type="file" (change)="onFileChange($event)">
            <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Izvelēties treniņa attēlu
          </span>
        </span>
          </label>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" type="submit" form="training">Saglabāt</button>
      <button class="button" (click)="dismiss()">Atcelt</button>
    </footer>
  </div>
</div>
