<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Rediģēt Treniņu</p>
      <button (click)="dismiss()" aria-label="close" class="delete"></button>
    </header>
    <section class="modal-card-body">
      <div *ngIf="error.length" class="notification is-danger">
        {{error}}
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="trainingForm" class="form" id="training">
        <input class="input" formControlName="name" placeholder="Nosaukums" type="text">
        <textarea class="textarea" formControlName="description" placeholder="Apraksts"></textarea>
        <input class="input" formControlName="duration" placeholder="Ilgums (minutes)" type="text">
        <input class="input" formControlName="max_count" placeholder="Maksimālais dalībnieku skaits" type="text">
        <div class="file">
          <label class="file-label">
            <input (change)="onFileChange($event)" class="file-input" type="file">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Izvelēties <b>jaunu</b> treniņa attēlu
              </span>
              <span *ngIf="file" class="file-name">
                {{file.name}}
              </span>
        </span>
          </label>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" form="training" type="submit">Saglabāt</button>
      <button (click)="dismiss()" class="button">Atcelt</button>
    </footer>
  </div>
</div>
