@import './../../styles/variables';

$img-width: 290px;
$social-icon-width: 40px;

:host {
  width: 100%;
  background-color: #ffffffbb;
  display: block;
  box-shadow: 0 7px 13px -3px rgba(0, 0, 0, 0.46);
  margin-bottom: 10px;
}

.container {
  max-width: $base-width;
  width: 100%;
  margin: 0 auto;
}

.logo {
  width: $img-width;
  cursor: pointer;
  padding-left: calc(#{$social-icon-width} / 2);
}

.content {
  display: flex;
  justify-content: space-evenly;
  padding: 36px 0;
}

.logo-container {
  flex: 1 $img-width;
  text-align: center;
}

.links {
  flex: 0 $social-icon-width;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .link {
    flex-basis: $social-icon-width;
    height: $social-icon-width;
    filter: grayscale(1);
    transition: all 0.3s ease-out;

    &:hover {
      filter: grayscale(0);
      transform: scale3d(110%, 110%, 110%);
    }
  }
}

.tabs {
  display: flex;
  font-size: 20px;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  overflow: visible;

  .tab {
    transition: all 0.3s ease-out;

    &:hover {
      color: darkblue;
      transform: scale3d(110%, 110%, 110%);
    }
  }
}
