<div class="header">
  <div class="btn-group">
    <button class="fc-today-button btn btn-secondary" (click)="showSubscribed()">Radīt tikai manus pierakstus</button>
    <button class="fc-today-button btn btn-secondary" (click)="showAll()">Radīt visus</button>
    <button class="fc-today-button btn btn-secondary" (click)="create()" *ngIf="dataService.isAdmin()">Pievienot nodarbību</button>
    <button class="fc-today-button btn btn-secondary" (click)="showAuthored()" *ngIf="dataService.isAdmin()">Manas nodarbības</button>
  </div>
</div>
<full-calendar #calendar [options]="calendarOptions"></full-calendar>
<ng-template adHost></ng-template>
